@using Nop.Core
@using Nop.Services.Common

@inject IGenericAttributeService genericAttributeService
@inject IWorkContext workContext

@model Nop.Plugin.Misc.Nexport.Models.NexportUserMappingModel

@if (Model != null && Model.Editable)
{
    const string hideNexportCustomerDetailsBlockAttributeName = "CustomerPage.HideNexportCustomerDetailsBlock";
    var hideNexportCustomerDetailsBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideNexportCustomerDetailsBlockAttributeName);

    <nop-panel asp-name="nexport-customer-details" asp-icon="fa fa-sticky-note-o" asp-title="Nexport Customer Info"
               asp-hide-block-attribute-name="@hideNexportCustomerDetailsBlockAttributeName" asp-hide="@hideNexportCustomerDetailsBlock" asp-advanced="false">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="NexportUserId"></nop-label>
                </div>
                <div class="col-md-9">
                    <div class="input-group">
                        <nop-editor asp-for="NexportUserId" asp-render-form-control-class="true" />
                        <div class="input-group-btn">
                            <button id="setNexportUserId" name="setnexportuserid" class="btn btn-info">
                                Set user Id
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.NexportUserId.HasValue)
            {
                @if (string.IsNullOrEmpty(Model.NexportEmail))
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="NexportEmail" />
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.NexportEmail</div>
                        </div>
                    </div>
                }
                @if (Model.OwnerOrgId != null)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="OwnerOrgId" />
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.OwnerOrgId</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="OwnerOrgShortName" />
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.OwnerOrgShortName</div>
                        </div>
                    </div>
                }
            }
        </div>
    </nop-panel>
}