@using Nop.Plugin.Misc.Nexport.Domain.Enums
@model Nop.Plugin.Misc.Nexport.Models.Stores.NexportStoreModel

@if (Model.Id > 0)
{
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Misc.Nexport/Scripts/bootstrap3-typeahead.js", "", true);

    <div class="panel panel-default">
        <div class="panel-heading">
            Nexport Integration Configuration
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Nexport Product Display Configuration
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="HideSectionCEUsInProductPage" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="HideSectionCEUsInProductPage" asp-required="false" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Nexport Sale Model Configuration
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="SaleModel" />
                        </div>
                        <div class="col-md-9">
                            <div class="theme-selection-block clearfix">
                                <div class="checkbox">
                                    <label>
                                        <span>
                                            <input type="radio" name="@Html.NameFor(x => x.SaleModel)" value="@NexportStoreSaleModel.Retail"
                                                   @if (Model.SaleModel != null & Model.SaleModel == NexportStoreSaleModel.Retail) { <text> checked</text> }>
                                            @T("Plugins.Misc.Nexport.SaleModel.Retail")
                                        </span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <span>
                                            <input type="radio" name="@Html.NameFor(x => x.SaleModel)" value="@NexportStoreSaleModel.Wholesale"
                                                   @if (Model.SaleModel != null & Model.SaleModel == NexportStoreSaleModel.Wholesale) { <text> checked</text> }>
                                            @T("Plugins.Misc.Nexport.SaleModel.Wholesale")
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="AllowRepurchaseFailedCourses" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="AllowRepurchaseFailedCourses" asp-required="false" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="AllowRepurchasePassedCourses" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="AllowRepurchasePassedCourses" asp-required="false" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button id="saveNexportStoreConfig" name="savenexportstoreconfig" class="btn btn-info">
                Save
            </button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Nexport Organization Subscription
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="NexportSubscriptionOrgId" />
                </div>
                <div class="col-md-9">
                    <div class="input-group">
                        @*<input type="hidden" value="@Model.NexportSubscriptionOrgId" />*@
                        <nop-editor asp-for="NexportSubscriptionOrgId" asp-required="false" asp-render-form-control-class="true"
                                    asp-template="GuidNullable"/>
                        <div class="input-group-btn">
                            <button id="setSubscriptionOrgId" name="setsubscriptionorgid" class="btn btn-info">
                                Set
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $.fn.bootstrapTypeahead = $.fn.typeahead.noConflict();

            window.query_cache = {};

            $("#NexportSubscriptionOrgId").bootstrapTypeahead({
                source: function(query, process) {
                    if (query_cache[query]) {
                        process(query_cache[query]);
                        return;
                    }

                    if (typeof searching != "undefined") {
                        clearTimeout(searching);
                        process([]);
                    }

                    var url = "@Url.Action("SearchNexportDirectory", "NexportIntegration")";
                    searching = setTimeout(function() {
                        return $.getJSON(
                            url,
                            { searchTerm: query },
                            function(data) {
                                // save result to cache, remove next line if you don't want to use cache
                                query_cache[query] = data;
                                // only search if stop typing for 300ms aka fast typers
                                return process(data);
                            }
                        );
                    }, 300);
                },
                matcher: function(item) {
                    var orgName = item.name;
                    var orgShortName = item.short_name;
                    var isMatch = orgName.toLowerCase().indexOf(this.query.toLowerCase());
                    if (~isMatch)
                        return true;

                    return ~orgShortName.toLowerCase().indexOf(this.query.toLowerCase());
                },
                autoSelect: false,
                fitToElement: true,
                displayText: function(item) {
                    return item.name;
                },
                afterSelect: function(selectedItem) {
                    $("#NexportSubscriptionOrgId").val(selectedItem.id);
                }
            });
        });
    </script>
}