@model Nop.Plugin.Misc.Nexport.Models.NexportUserMappingModel

@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts("Nexport Account Details");
    Html.AppendPageCssClassParts("html-account-page");
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Misc.Nexport/Content/nexport-store.css");
}

@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = 1000 })
}

<div class="page account-page nexport-user-details-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - Nexport Account Details</h1>
    </div>
    <div class="page-body">
        @if (Model.NexportUserId != null)
        {
            <ul class="info">
                <li>
                    <label><strong>@T("Account.Fields.Nexport.UserId"):</strong></label>
                    @Model.NexportUserId
                </li>
                <li>
                    <label><strong>@T("Account.Fields.Nexport.Email"):</strong></label>
                    @Model.NexportEmail
                </li>
                @if (Model.OwnerOrgId != null)
                {
                    <li>
                        <label><strong>@T("Account.Fields.Nexport.OwnerOrgId"):</strong></label>
                        @Model.OwnerOrgId
                    </li>
                    <li>
                        <label><strong>@T("Account.Fields.Nexport.OwnerOrgShortName"):</strong></label>
                        @Model.OwnerOrgShortName
                    </li>
                }
            </ul>
        }
    </div>
</div>