@using Nop.Plugin.Misc.Nexport.Domain.Enums
@using Nop.Plugin.Misc.Nexport.Extensions
@using Nop.Services.Helpers
@inject IDateTimeHelper dateTimeHelper

@model Nop.Plugin.Misc.Nexport.Models.NexportProductMappingModel

@if (Model != null && Model.Id > 0)
{
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="NopProductId" value="@Model.NopProductId" />

    <div class="form-group">
        <div class="col-sm-5 col-md-3">
            <nop-label asp-for="NexportProductName" />
        </div>
        <div class="col-sm-7 col-md-9">
            <input type="hidden" name="NexportProductName" value="@Model.NexportProductName" />
            <div class="form-text-row">@Model.NexportProductName</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5 col-md-3">
            <nop-label asp-for="DisplayName" />
        </div>
        <div class="col-sm-7 col-md-9">
            <input type="hidden" name="DisplayName" value="@Model.DisplayName" />
            <div class="form-text-row">@Model.DisplayName</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5 col-md-3">
            <nop-label asp-for="NexportCatalogId" />
        </div>
        <div class="col-sm-7 col-md-9">
            <input type="hidden" name="NexportCatalogId" value="@Model.NexportCatalogId" />
            <div class="form-text-row">@Model.NexportCatalogId</div>
        </div>
    </div>
    @if (Model.NexportCatalogSyllabusLinkId.HasValue)
    {
        <div class="form-group">
            <div class="col-sm-5 col-md-3">
                <nop-label asp-for="NexportCatalogSyllabusLinkId" />
            </div>
            <div class="col-sm-7 col-md-9">
                <input type="hidden" name="NexportCatalogSyllabusLinkId" value="@Model.NexportCatalogSyllabusLinkId" />
                <div class="form-text-row">@Model.NexportCatalogSyllabusLinkId</div>
            </div>
        </div>
    }
    @if (Model.NexportSyllabusId.HasValue)
    {
        <div class="form-group">
            <div class="col-sm-5 col-md-3">
                <nop-label asp-for="NexportSyllabusId" />
            </div>
            <div class="col-sm-7 col-md-9">
                <input type="hidden" name="NexportSyllabusId" value="@Model.NexportSyllabusId" />
                <div class="form-text-row">@Model.NexportSyllabusId</div>
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-sm-5 col-md-3">
            <nop-label asp-for="Type" />
        </div>
        <div class="col-sm-7 col-md-9">
            <input type="hidden" name="Type" value="@Model.Type" />
            <div class="form-text-row">@Model.Type.GetDisplayName()</div>
        </div>
    </div>
    @if (Model.PricingModel.HasValue)
    {
        <div class="form-group">
            <div class="col-sm-5 col-md-3">
                <nop-label asp-for="PricingModel" />
            </div>
            <div class="col-sm-7 col-md-9">
                <div class="form-text-row">@Model.PricingModel.GetDisplayName()</div>
            </div>
        </div>
    }
    @if (Model.PublishingModel.HasValue)
    {
        <div class="form-group">
            <div class="col-sm-5 col-md-3">
                <nop-label asp-for="PublishingModel" />
            </div>
            <div class="col-sm-7 col-md-9">
                <div class="form-text-row">@Model.PublishingModel.GetDisplayName()</div>
            </div>
        </div>
    }
    @if (Model.CreditHours.HasValue)
    {
        <div class="form-group">
            <div class="col-sm-5 col-md-3">
                <nop-label asp-for="CreditHours" />
            </div>
            <div class="col-sm-7 col-md-9">
                <div class="form-text-row">@decimal.Round(Model.CreditHours.Value, 2)</div>
            </div>
        </div>
    }
    @if (Model.Type == NexportProductTypeEnum.Section)
    {
        <div class="form-group">
            <div class="col-sm-5 col-md-3">
                <nop-label asp-for="SectionCeus" />
            </div>
            <div class="col-sm-7 col-md-9">
                <div class="form-text-row">@Model.SectionCeus</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5 col-md-3">
                <nop-label asp-for="SectionNumber" />
            </div>
            <div class="col-sm-7 col-md-9">
                <div class="form-text-row">@Model.SectionNumber</div>
            </div>
        </div>
    }
    @if (Model.Type != NexportProductTypeEnum.Catalog)
    {
        <div class="form-group">
            <div class="col-sm-5 col-md-3">
                <nop-label asp-for="UniqueName" />
            </div>
            <div class="col-sm-7 col-md-9">
                <div class="form-text-row">@Model.UniqueName</div>
            </div>
        </div>
    }
    @if (!Model.Editable)
    {
        if (Model.AccessTimeLimit.HasValue)
        {
            <div class="form-group">
                <div class="col-sm-5 col-md-3">
                    <nop-label asp-for="AccessTimeLimit" />
                </div>
                <div class="col-sm-7 col-md-9">
                    <div class="form-text-row">@Model.AccessTimeLimit</div>
                </div>
            </div>
        }

        if (Model.UtcAccessExpirationDate.HasValue)
        {
            <div class="form-group">
                <div class="col-sm-5 col-md-3">
                    <nop-label asp-for="UtcAccessExpirationDate" />
                </div>
                <div class="col-sm-7 col-md-9">
                    <div class="form-text-row">@Model.UtcAccessExpirationDate</div>
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-sm-5 col-md-3">
                <nop-label asp-for="AutoRedeem" />
            </div>
            <div class="col-sm-7 col-md-9">
                <div class="form-text-row">
                    @if (Model.AutoRedeem)
                    {
                        <text>Yes</text>
                    }
                    else
                    {
                        <text>No</text>
                    }
                </div>
            </div>
        </div>
    }
    @if (Model.UtcAvailableDate.HasValue)
    {
        <div class="form-group">
            <div class="col-sm-5 col-md-3">
                <nop-label asp-for="UtcAvailableDate" />
            </div>
            <div class="col-sm-7 col-md-9">
                <div class="form-text-row">@dateTimeHelper.ConvertToUserTime(Model.UtcAvailableDate.Value).ToString("f")</div>
            </div>
        </div>
    }
    @if (Model.UtcEndDate.HasValue)
    {
        <div class="form-group">
            <div class="col-sm-5 col-md-3">
                <nop-label asp-for="UtcEndDate" />
            </div>
            <div class="col-sm-7 col-md-9">
                <div class="form-text-row">@dateTimeHelper.ConvertToUserTime(Model.UtcEndDate.Value).ToString("f")</div>
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-sm-5 col-md-3">
            <nop-label asp-for="UtcLastModifiedDate" />
        </div>
        <div class="col-sm-7 col-md-9">
            <div class="form-text-row">
                @if (Model.UtcLastModifiedDate != null)
                {
                    @dateTimeHelper.ConvertToUserTime(Model.UtcLastModifiedDate.Value, DateTimeKind.Utc).ToString("f")
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5 col-md-3">
            <nop-label asp-for="IsSynchronized" />
        </div>
        <div class="col-sm-7 col-md-9">
            <div class="form-text-row">
                @if (Model.IsSynchronized)
                {
                    <text>Yes</text>
                }
                else
                {
                    <text>No</text>
                }
            </div>
        </div>
    </div>
    @if (Model.IsSynchronized && Model.UtcLastSynchronizationDate.HasValue)
    {
        <div class="form-group">
            <div class="col-sm-5 col-md-3">
                <nop-label asp-for="UtcLastSynchronizationDate" />
            </div>
            <div class="col-sm-7 col-md-9">
                <div class="form-text-row">@dateTimeHelper.ConvertToUserTime(Model.UtcLastSynchronizationDate.Value).ToString("f")</div>
            </div>
        </div>
    }
    @if (!Model.Editable)
    {
        <div class="form-group">
            <div class="col-sm-5 col-md-3">
            </div>
            <div class="col-sm-7 col-md-9">
                <div class="form-text-row">
                    <button type="submit" id="btnEditNexportMappingDetails" class="btn btn-primary">
                        Edit mapping details
                    </button>
                </div>
            </div>
        </div>
    }
}