@using NexportApi.Model
@using Nop.Core
@using Nop.Plugin.Misc.Nexport.Domain.Enums
@using Nop.Plugin.Misc.Nexport.Models
@using Nop.Plugin.Misc.Nexport.Models.ProductMappings
@using Nop.Services.Common
@using Nop.Services.Helpers
@inject IDateTimeHelper dateTimeHelper
@inject IGenericAttributeService genericAttributeService
@inject IWorkContext workContext
@model TrainingPlanResponse

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Nexport Integration - Training Plan Details";

    Html.SetActiveMenuItemSystemName("Nexport Integration - Product Mappings");

    const string hideNexportTrainingPlanInfoBlockAttributeName = "Nexport.TrainingPlan.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideNexportTrainingPlanInfoBlockAttributeName);

    const string hideNexportTrainingPlanMappingsBlockAttributeName = "Nexport.TrainingPlan.HideMappingsBlock";
    var hideMappingsBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideNexportTrainingPlanMappingsBlockAttributeName);

    var nexportProductId = Guid.Parse(Context.Request.Query["nexportProductId"]);
    var nexportCatalogId = Guid.Parse(Context.Request.Query["nexportCatalogId"]);
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        Training Plan Details - @Model.Title
        <small>
            <i class="fa fa-arrow-circle-left"></i>
            <a asp-action="ShowProductDetails"
               asp-controller="NexportIntegration"
               asp-route-nexportProductId="@nexportCatalogId"
               asp-route-nexportProductType="Catalog">back to catalog details</a>
        </small>
    </h1>
    <div class="pull-right">
        <button type="button" id="mapProductForTrainingPlanBtn" class="btn bg-olive">
            <i class="fa fa-plus"></i>
            Map with existing products
        </button>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <nop-panels id="nexport-training-plan-panels">
            <nop-panel asp-name="nexport-training-plan-info" asp-icon="fa fa-info" asp-hide="@hideInfoBlock"
                       asp-hide-block-attribute-name="@hideNexportTrainingPlanInfoBlockAttributeName" asp-title="Training Plan Details" asp-advanced="false">
                <div class="raw clearfix">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label">Section Id</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.SyllabusId</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="RootRequirementId" />
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.RootRequirementId</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="UniqueName" />
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.UniqueName</div>
                        </div>
                    </div>
                    @if (Model.CreditHours.HasValue)
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="CreditHours" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.CreditHours</div>
                            </div>
                        </div>
                    }

                    @if (Model.EnrollmentStart.HasValue)
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="EnrollmentStart" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@dateTimeHelper.ConvertToUserTime(Model.EnrollmentStart.Value).ToString("f")</div>
                            </div>
                        </div>
                    }
                    @if (Model.EnrollmentEnd.HasValue)
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="EnrollmentEnd" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@dateTimeHelper.ConvertToUserTime(Model.EnrollmentEnd.Value).ToString("f")</div>
                            </div>
                        </div>
                    }
                    @if (Model.EnrollmentEnd.HasValue)
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="EnrollmentEnd" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@dateTimeHelper.ConvertToUserTime(Model.EnrollmentEnd.Value).ToString("f")</div>
                            </div>
                        </div>
                    }
                </div>
            </nop-panel>
            <nop-panel asp-name="nexport-training-plan-mappings" asp-icon="fa fa-paperclip" asp-hide="@hideMappingsBlock"
                       asp-hide-block-attribute-name="@hideNexportTrainingPlanMappingsBlockAttributeName" asp-title="Training Plan Mappings" asp-advanced="false">
                @await Html.PartialAsync("~/Plugins/Misc.Nexport/Views/ProductMappings.cshtml",
                    new NexportProductMappingListSearchModel()
                    {
                        NexportProductId = nexportProductId,
                        NexportCatalogId = nexportCatalogId,
                        NexportSyllabusId = Model.SyllabusId,
                        NexportProductType = NexportProductTypeEnum.TrainingPlan
                    })
            </nop-panel>
        </nop-panels>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#mapProductForTrainingPlanBtn").on("click",
            function(e) {
                var url =
                    "@Url.Action("MapProductPopup", "NexportIntegration")";
                url += "?nexportProductId=@nexportProductId&nexportCatalogId=@nexportCatalogId&nexportSyllabusId=@Model.SyllabusId&nexportProductType=@NexportProductTypeEnum.TrainingPlan" +
                    "&containerId=nexport-training-plan-panels&btnId=btnRefreshMappings";
                console.log(url);
                OpenWindow(url, 800, 800, true);
            });
    });
</script>